:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
  --text-primary: #403f3d;
  --dark-text-primary: #e1d4c9;
  --dark-text-inverse: #e1d4c9;
  --dark-text-accent: #b0907a;
  --dark-bg-page: #292826;
  --dark-bg-container: #403f3d;
  --dark-bg-overlay: rgba(41, 40, 38, 0.8);
  --dark-border-primary: #665f55;
  --dark-border-inverse: #c1b6ad;
  --background-modal: #e1d4c9;
  --background-modalcontrol: #665f55;
  --dark-bg-modal: var(--dark-bg-container);
  --dark-bg-modal-control: var(--dark-bg-page);
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --button-bg: #e1d4c9;
  --button-text: #403f3d;
  --dark-button-bg: #403f3d;
  --dark-button-text: #e1d4c9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-page);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark-theme {
  --text-primary: var(--dark-text-primary);
  --text-inverse: var(--dark-text-inverse);
  --text-accent: var(--dark-text-accent);

  --background-page: var(--dark-bg-page);
  --background-container: var(--dark-bg-container);

  --border-primary: var(--dark-border-primary);
  --border-inverse: var(--dark-border-inverse);

  --background-overlay: var(--dark-bg-overlay);

  --button-bg: var(--dark-button-bg);
  --button-text: var(--dark-button-text);
}

body.dark-theme .theme-switch {
  background: #292826;
  border-color: #665f55;
}

body.dark-theme .theme-light {
  background: transparent;
}

body.dark-theme .theme-dark {
  background: #b39781;
}

body.dark-theme .theme-light img,
body.dark-theme .theme-dark img {
  filter: brightness(0) invert(1);
}

body.dark-theme .theme-light:hover {
  background: #403f3d;
}

body.dark-theme .theme-dark:hover {
  background: #b39781;
}

main,
header,
footer {
  max-width: 1360px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  transition: 0.4s ease;
}
section {
  margin-bottom: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.logo img {
  width: 100px;
  height: 60px;
}
.header-nav {
  display: flex;
}
.nav-link {
  list-style: none;
  margin: 0 40px;
}
.nav-link-page {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}
.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.heder-menu {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.theme-switch {
  width: 88px;
  height: 44px;
  padding: 4px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e1d4c9;
}

.theme-light,
.theme-dark {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  cursor: pointer;
}

.theme-light {
  background: #b39781;
}

.theme-light img {
  width: 22px;
  height: 22px;
}

.theme-dark img {
  width: 18px;
  height: 18px;
  transition: 0.2s ease;
}

.theme-dark:hover {
  background: #403e39;
  cursor: pointer;
}

.theme-dark:hover img {
  filter: brightness(0) invert(1);
}

.theme-switch:hover .theme-option-light {
  background: #b39781;
}

.theme-switch:hover .theme-option-dark {
  background: #403e39;
}

.theme-switch:hover .theme-option-light img {
  transform: scale(1.1);
}

.theme-switch:hover .theme-option-dark img {
  transform: scale(1.1);
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}

.menu-icon {
  width: 20px;
  height: 20px;
}

.hero {
  margin: 0 auto;
  background-image: url(assets/img/img-hero.jpg);
  max-width: 1360px;
  height: 644px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  margin-bottom: 100px;
}
.hero-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-style: italic;
  font-size: 72px;
  line-height: 105%;

  color: var(--text-inverse);
  margin-bottom: 40px;
}
.hero-heading-span {
  color: var(--text-accent);
}
.hero-subheading {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-inverse);
  margin-bottom: 40px;
}
.hero-text {
  max-width: 530px;
}
.hero-btn {
  width: 200px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  border: none;
  border-radius: 100px;
  background: var(--button-bg);
  color: var(--button-text);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
}

.hero-btn-icon {
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translateX(-8px);
  transition: 0.3s ease;
}

.hero-btn:hover .hero-btn-icon {
  opacity: 1;
  transform: translateX(0);
}
body.dark-theme .hero-btn-icon,
body.dark-theme .menu-icon {
  filter: invert(88%) sepia(10%) saturate(300%) hue-rotate(340deg)
    brightness(96%) contrast(90%);
}
.slider-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: var(--text-primary);
}
.slider-heading-span {
  font-style: italic;
  color: var(--text-accent);
}
.about-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: var(--text-primary);
  margin-bottom: 40px;
}
.about-heading-span {
  font-style: italic;
  color: var(--text-accent);
}

.slider-page {
  padding: 40px 0;
  text-align: center;
}

.slider {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-card {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-card-image {
  width: 480px;
  height: 480px;
  object-fit: contain;
}

.slider-card-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: var(--text-primary);
  margin: 15px 0;
}

.slider-card-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-primary);
  margin: 0 0 18px;
  letter-spacing: 1.2px;
}

.slider-card-price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: var(--text-primary);
}
.slider-button {
  width: 62px;
  height: 62px;
  border: 1px solid #403f3d;
  border-radius: 50%;
  background: transparent;
  font-size: 24px;
  color: #403f3d;
  cursor: pointer;
}

.slider-button-left {
  position: absolute;
  left: 46px;
}

.slider-button-right {
  position: absolute;
  right: 46px;
}

.slider-button:hover {
  background: #403f3d;
  color: white;
}

body.dark-theme .slider-button {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1d4c9;
  border-radius: 50%;
  background: transparent;
  color: #e1d4c9;
  cursor: pointer;
  transition: 0.3s ease;
}

body.dark-theme .slider-button:hover {
  background: #e1d4c9;
  color: #403f3d;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
}

.pagination-item {
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background: #c8beb5;
}

.pagination-item.active {
  background: #403f3d;
}

.about-gallery {
  display: flex;
  gap: 32px;
}

.about-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-image {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.about-image-large {
  height: 590px;
}

.about-image-small {
  height: 430px;
}

.about-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1d4c9;
}

.mobile-text {
  max-width: 650px;
}

.mobile-heading {
  margin: 0 0 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  line-height: 125%;
  color: var(--text-primary);
}

.mobile-heading span {
  color: var(--text-accent);

  font-style: italic;
}

.mobile-subheading {
  max-width: 600px;
  margin: 0 0 40px;
  color: var(--text-primary);
  font-size: 20px;
  line-height: 1.5;
}

.mobile-btns {
  display: flex;
  gap: 20px;
}

.mobile-btn {
  width: 235px;
  height: 76px;
  padding: 0 20px;
  border: 1px solid #403f3d;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #403f3d;
  text-decoration: none;
  transition: 0.2s ease;
}

.mobile-btn-icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  color: #38ce0a;
}

.mobile-btn span {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
}

.mobile-btn small {
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
}

.mobile-btn:hover {
  background: var(--background-container);
  color: var(--text-inverse);
  border-color: transparent;
}

.mobile-btn:hover .store-icon {
  filter: brightness(0) saturate(100%) invert(86%) sepia(10%) saturate(300%)
    hue-rotate(340deg);
}

.mobile-img {
  width: 630px;
  flex-shrink: 0;
}

.mobile-img img {
  width: 100%;
  height: auto;
  display: block;
}
body.dark-theme .mobile {
  background: #292826;
}

body.dark-theme .mobile-heading,
body.dark-theme .mobile-subheading {
  color: #e1d4c9;
}

body.dark-theme .mobile-heading span {
  color: #b0907a;
}
body.dark-theme .mobile-btns img {
  filter: brightness(0) saturate(100%) invert(86%) sepia(10%) saturate(300%)
    hue-rotate(340deg);
}
body.dark-theme .mobile-btn {
  border-color: #e1d4c9;
  color: #e1d4c9;
  background: transparent;
}

body.dark-theme .mobile-btn:hover {
  background: var(--background-container);
  color: var(--text-inverse);
  border-color: transparent;
}

footer {
  border-radius: 40px;
  padding: 100px;
  width: 1360px;
  height: 450px;
  max-width: 1360px;
  padding: 140px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  background: var(--background-container);
  margin-bottom: 40px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: var(--text-inverse);
}

.footer-heading span {
  display: block;
  font-style: italic;
  color: var(--text-accent);
}

.footer-link {
  display: flex;
  gap: 14px;
  margin-top: 65px;
}

.social-link {
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1d4c9;
  border-radius: 50%;
  transition: 0.2s ease;
}

.social-link img {
  width: 24px;
  height: 24px;
  display: block;
}

.social-link:hover {
  background-color: #e1d4c9;
}

.social-link:hover img {
  filter: brightness(0) saturate(100%) invert(25%) sepia(5%) saturate(500%)
    hue-rotate(5deg) brightness(90%);
}

.footer-right {
  min-width: 440px;
}

.footer-sunheading {
  margin: 0 0 48px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--text-inverse);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-inverse);
  text-decoration: none;
}

.footer-contact-item img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;

  max-width: 1200px;
  margin: 0 auto;
}

.menu-card {
  border: 1px solid var(--border-primary);
  border-radius: 40px;
  overflow: hidden;
  background-color: var(--background-page);
}

.menu-card > img {
  width: 100%;
  height: 270px;
  display: block;
  object-fit: cover;
  border-radius: 40px;
}

.menu-card-content {
  padding: 20px 16px 18px;
}

.menu-card h3 {
  margin: 0 0 10px;
  color: var(--text-primary);
  font-size: 22px;
  line-height: 1.2;
}

.menu-card p {
  min-height: 72px;
  margin: 0 0 12px;
  color: var(--text-primary);
  font-size: 16px;
  line-height: 1.4;
}

.menu-card strong {
  color: var(--text-primary);
  font-size: 22px;
}

.menu-top {
  width: 100%;
  text-align: center;
}

.menu-heading {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: var(--text-primary);
}

.menu-heading span {
  font-style: italic;
  color: var(--text-accent);
}

.menu-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu-tab {
  height: 46px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--border-primary);
  border-radius: 30px;
  background-color: transparent;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.menu-card-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--text-primary);
}
.menu-card-subheading {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}
.menu-card-price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--text-primary);
}

.menu-tab-icon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d8cec4;
  font-size: 13px;
}

.menu-tab.active {
  background-color: var(--text-primary);
  border-color: var(--text-primary);
  color: var(--text-inverse);
}

.menu-tab.active .menu-tab-icon {
  background-color: var(--text-inverse);
}

.menu-tab:hover {
  background-color: var(--text-primary);
  border-color: var(--text-primary);
  color: var(--text-inverse);
}

body.dark-theme .menu-tab {
  background: transparent;
  border: 1px solid #665f55;
  color: #e1d4c9;
}

body.dark-theme .menu-tab.active {
  background: #403f3d;
  border-color: #403f3d;
  color: #e1d4c9;
}
body.dark-theme .menu-tab:hover {
  background: #403f3d;
  border-color: #403f3d;
  color: #e1d4c9;
}

body.dark-theme .menu-tab-icon {
  background: #665f55;
}

body.dark-theme .menu-tab.active .menu-tab-icon {
  background: #292826;
}
